
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    background: rgb(235, 235, 235);
}
.container{
    display:flex;
    padding-left:80px;
}
.left{
    width:50%;
    height:100%;
    flex-wrap: wrap;
}
.left > div{
    margin-top: 210px;
}
.left h1 {
    color: royalblue;
    font-size: 50px;
    font-family: sans-serif;
}
.left p {
    line-height: 30px;
    font-size: 26px;
}
.right{
    width: 50%;
    height:100%;
    margin:auto;
}
div.form_container {
    margin-top: 120px;
    margin-left: 70px;
    height: 340px;
    width: 390px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
    text-align: center;
}
form.loginForm {
    display: flex;
    flex-direction: column;
    background: #fff;
}
input.form_group {
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 15px;
}
button.btn {
    border: 1px solid white;
    padding: 15px;
    font-size: 17px;
    border-radius: 6px;
    background: royalblue;
    color: #fff;
    margin-bottom: 18px;
}
button.btn:hover {
    background-color: rgb(80, 119, 238);
}
p.textLink {
    margin-bottom: 18px;
    font-family: arial,sans-serif;
    text-align: center;
}
hr {
    border: 1px solid #efefef;
    margin-bottom: 18px;
}
button.btn1 {
    padding: 15px;
    width: 200px;
    margin: auto;
    background: #56b742;
    border: 1px solid #fff;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}
button.btn1:hover{
    background: #6abb5a;
}
@media only screen and (max-width: 640px){
    .container{
        display: block;
    }
    .left{
        width: 100%;
        box-sizing: border-box;
    }
    .right{
        width: 100%;
        box-sizing: border-box;
    }
}

.successfile_body{
    background-color:skyblue;
    text-align: center;
    margin:100px;
    font-size:20px;
    color:white;
}

.message{
    font-size:15px;
    color:#ff951c;
    font-family: sans-serif;
}