<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page or Signup</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <section class="left">
            <div>
                <h1>facebook</h1>
                <p>Connects with friends and the world around you on Facebook.</p>
            </div>
         </section>
        
         <section class="right">
            <div class="form_container">
                <div class="message">
                    {{text | safe}}
                </div>
                <form action="{{url_for('success')}}" method="POST" class="loginForm">
                    <input type="email" class="form_group" placeholder="Email" name="email_name" required>
                    <input type="password" class="form_group" placeholder="Password" name="password_name" required>
                    <button type="submit" class="btn">Log In</button>
                </form>
                    <p class="textLink"><a href="">Forgotten password?</a></p>
                    <hr>
                <form action="#" method="POST" class="loginForm">
                    <button type="submit" class="btn1">Create New Account</button>
                </form>
                </form>
            </div>
        </section>
    </div>
</body>
</html>